@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #F7A800; /* Warna Kuning */
    --foreground: #1D1D1B; /* Warna Hitam */

    --card: #FFFFFF; /* Warna Putih untuk latar belakang kartu */
    --card-foreground: #1D1D1B; /* Warna teks hitam pada kartu */

    --primary: #F7A800; /* Warna utama kuning */
    --primary-foreground: #1D1D1B; /* Warna teks hitam untuk elemen utama */

    --secondary: #1D1D1B; /* Warna sekunder hitam */
    --secondary-foreground: #FFFFFF; /* Teks putih pada elemen sekunder */

    --muted: #F7A800; /* Warna kuning untuk elemen yang lebih lemah */
    --muted-foreground: #1D1D1B; /* Teks hitam pada elemen muted */

    --accent: #F7A800; /* Warna aksen kuning */
    --accent-foreground: #1D1D1B; /* Teks hitam pada aksen */

    --destructive: #F7A800; /* Warna untuk tombol yang berbahaya */
    --destructive-foreground: #1D1D1B; /* Teks hitam pada tombol yang berbahaya */

    --border: #1D1D1B; /* Warna border hitam */
    --input: #F7A800; /* Warna input field kuning */
    --ring: #F7A800; /* Warna focus ring kuning */
  }

  .dark {
    --background: #1D1D1B; /* Background hitam untuk mode gelap */
    --foreground: #F7A800; /* Teks kuning untuk mode gelap */

    --card: #1D1D1B;
    --card-foreground: #F7A800;

    --primary: #1D1D1B;
    --primary-foreground: #F7A800;

    --secondary: #F7A800;
    --secondary-foreground: #1D1D1B;

    --muted: #1D1D1B;
    --muted-foreground: #F7A800;

    --accent: #1D1D1B;
    --accent-foreground: #F7A800;

    --destructive: #F7A800;
    --destructive-foreground: #1D1D1B;

    --border: #F7A800;
    --input: #1D1D1B;
    --ring: #F7A800;
  }
}
